<div class="prose">
  <h1>Training Resources</h1>
  <p>
    This is a site to find, save, and share training resources for software
    developers, DevOps engineers, or anyone involved in the delivery of
    software.
  </p>
  <p class="bg-yellow-50 p-5 m-3">
    <span class="font-bold">Note:</span> This is not a *real* application - it
    is meant to be an example application for students of Hypertheory Training
    courses. Data will disappear regularly. Don't get too emotionally invested
    in this.
  </p>
</div>
